<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="/socket.io/socket.io.js"></script>

  </head>
  <body>
      <div class="container pt-1">
        <nav class="navbar navbar-toggleable-xl navbar-inverse">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand text-primary" href="#">
            <img src="./media/chat.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Let's Chat
          </a>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav ">
              <li class="nav-item active">
      <%#          <a class="nav-link text-primary" href="#">Home <span class="sr-only">(current)</span></a> %>
              </li>
              <li class="nav-item mt-2">
                <button class="btn btn-outline-primary  text-inverse">Buy me a coffee</button>
              </li>
            </ul>
          </div>
        </nav>
    </div>
    <div class="chat mt-5">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="chatbox">
              <ul id="chatbox-container"class="list-group">

              </ul>
              <div id = "isTyping" style = 'text-align: center;'></div>
            </div>
            <input type="text" id="textinput" class="form-control "placeholder="Your message..." required>
            <button id="submitchat"class="btn btn-info btn-block text-white font-weight-bold">Send</button>
          </div>
          <div class="col-md-2 hidden-sm-down chatcontainer">
            <div class="online-count">
              <p>Online Count</p>
              <div class="counter">
                <%# Insert h2 tag here %>
              </div>
            </div>
            <div class="online-list">
              <p>Online List</p>
              <ul>
                <%#<li>Akma</li>
                <li>mamat</li>%>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="js/chat.js"></script>
    <script src = "js/socketio.js"></script>
  </body>
</html>
